In [2]:
# 1. Write a program to accept percentage from the user and display the grade according to the following 
# criteria: 
# Marks 
# Grade 
# >90 
# A 
# >80 and <=90 
# B 
# >=60 and <=80 
# C 
# below 60 
# D

In [3]:
marks = int(input("enter the percentage"))
if marks > 90 :
    print("A")
elif marks > 80 and marks <= 90 :
    print("B")
elif marks >= 60 and marks <= 80 :
    print("C")
else :
    print("D")

enter the percentage 65

C

In [4]:
# 2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the 
# following criteria: 
# Tax 
# 15% 
# 10% 
# 5% 
# Cost Price(in Rs) 
# >100000 

# 50000 and <= 100000 
# <= 50000

In [6]:
cp = int(input("enter the cost price"))
if cp > 100000 :
    print("you have to pay 15% tax")
elif cp > 50000 and cp <= 100000 :
    print("you have to pay 10% tax")
else :
    print("you have to pay 5% tax")

enter the cost price 70000

you have to pay 10% tax

In [7]:
# 3. Accept any city from the user and display monuments of that city. 
# City 
# Delhi 
# Monument 
# Red Fort 
# Taj Mahal 
# Agra 
# Jaipur 
# Jal Mahal

In [10]:
city = input("enter city name : ")
if city == "delhi" :
    print("Red Fort")
elif city == "Agra" :
    print("Taj Mahal")
elif city == "Jaipur" :
    print("Jal Mahal")
else :
    print("enter valid city")

enter city name :  Jaipur

Jal Mahal

In [11]:
# 4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [1]:
count = 0
number = 180
while number > 10:
    # divide number by 3
    number = number / 3
    # increase count
    count = count + 1
print('Total iteration required', count)

Total iteration required 3

In [2]:
# 5. Why and When to Use while Loop in Python give a detailed description with example

In [4]:
# Python while loop is used to run a block code until a certain condition is met.

# The syntax of while loop is:

# while condition:
#     # body of while loop
# Here,

# A while loop evaluates the condition
# If the condition evaluates to True, the code inside the while loop is executed.
# condition is evaluated again.
# This process continues until the condition is False.
# When condition evaluates to False, the loop stops.

# program to display numbers from 1 to 5

# initialize the variable
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

In [5]:
# 6. Use nested while loop to print 3 different pattern.

In [6]:
# pattern of numbers using a nested while loop
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [8]:
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        k = 0
        while  k <= 5 :
            print(i*j*k, end=" ")
            k += 1
        print()
        j += 1
    print()
    i += 1

0 0 0 0 0 0
0 1 2 3 4 5
0 2 4 6 8 10
0 3 6 9 12 15

0 0 0 0 0 0
0 2 4 6 8 10
0 4 8 12 16 20
0 6 12 18 24 30

0 0 0 0 0 0
0 3 6 9 12 15
0 6 12 18 24 30
0 9 18 27 36 45

0 0 0 0 0 0
0 4 8 12 16 20
0 8 16 24 32 40
0 12 24 36 48 60

In [9]:
# 7. Reverse a while loop to display numbers from 10 to 1.

In [10]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1